@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  html {
    @apply bg-desaturated-black text-desaturated-white;
  }
  body {
    @apply font-body;
  }
}
